@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
#app {
  margin:  auto;
  font-weight: normal;
}




@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
